.about {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.about_description {
  letter-spacing: 0.84px;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.features {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  width: 90%;
}

.features div:nth-child(2) {
  margin-top: 2rem;
}

.features div:nth-child(4) {
  margin-top: 2rem;
}

.features div:nth-child(3) {
  margin-top: 5rem;
}

.servicesPath {
  position: absolute;
  object-fit: contain;

  height: 730px;
  width: 100%;
  top: -170px;
  left: -500px;
}

.forklift {
  position: absolute;
  bottom: -300px;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .features {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    width: 90%;
  }

  .servicesPath {
    display: none;
  }

  .about_btn {
    margin-top: 2rem !important;
  }
}

@media only screen and (max-width: 1200px) {
  .features {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    width: 90%;
  }

  .servicesPath {
    display: none;
  }
}

@media only screen and (max-width: 1775px) {
  .servicesPath {
    height: 690px;
    top: -170px;
    left: -470px;
  }
}

@media only screen and (max-width: 1650px) {
  .servicesPath {
    height: 650px;
    top: -160px;
    left: -430px;
  }
}

@media only screen and (max-width: 1500px) {
  .servicesPath {
    height: 620px;
    top: -130px;
    left: -400px;
  }
}

@media only screen and (max-width: 1400px) {
  .servicesPath {
    height: 570px;
    top: -120px;
    left: -380px;
  }
}

@media only screen and (max-width: 1300px) {
  .servicesPath {
    height: 530px;
    top: -100px;
    left: -330px;
  }
}

@media only screen and (max-width: 500px) {
  .features {
    display: flex;
    flex-direction: column;
  }

  .features div:nth-child(2) {
    margin-top: 0rem;
  }

  .features div:nth-child(4) {
    margin-top: 0rem;
  }

  .features div:nth-child(3) {
    margin-top: 0rem;
  }

  .forklift {
    bottom: -350px;
  }
}
